<footer>
	<link rel="stylesheet" href="/css/footer.css?v=<%= cssVersion %>">
	<a href="https://discord.gg/S7DMCXsuPz" target="_blank" style="text-decoration: none;color: white">Join us on the discord</a>
</footer>