<header>
	<link rel="stylesheet" href="/css/header.css?v=<%= cssVersion %>">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<div id="header">
		<div class="logo">
			<img src="https://gzwbot.eu/images/web/sitelogobig.webp">
		</div>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a class="item" href="/ammunition">Ammo Table</a>
				</li>
				<li>
					<a href="#">Items</a>
					<ul class="mega-dropdown">
						<li class="row">
							<ul class="mega-col">
								<li><a class="item" href="/medical">Medical Items</a></li>
								<li><a class="item" href="/provisions">Provisions</a></li>
								<li><a class="item" href="/containers">Containers</a></li>
							</ul>
							<ul class="mega-col">
								<li><a class="item" href="/keys">Keys</a></li>
								<li><a class="item" href="/quest-items">Quest Items</a></li>
								<li><a class="item" href="/weapons">Weapons</a></li>
							</ul>
							<ul class="mega-col">
								<li><a class="item" href="/helmets">Helmets</a></li>
								<li><a class="item" href="/ballistic-vests">Armors</a></li>
								<li><a class="item" href="/rigs">Rigs & Plate Carriers</a></li>
							</ul>
							<ul class="mega-col">
								<li><a class="item" href="/backpacks">Backpacks</a></li>
								<li><a class="item" href="/weapon-modifications">Weapon Mods</a></li>
								<li><a class="item" href="/grenades">Grenades</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a class="item" href="#" style="opacity: 0.45;">Quests</a>
				</li>
				<li>
					<a class="item" href="#" style="opacity: 0.45;">Health Statuses</a>
				</li>
				<li>
					<a class="item" href="#" style="opacity: 0.45;">Ranks</a>
				</li>
				<li>
					<a class="item" href="#" style="opacity: 0.45;">Traders</a>
				</li>
				<li>
					<a class="item" href="#" style="opacity: 0.45;">Map</a>
				</li>
				<li class="dropdown">
					<a href="#">Bots</a>
					<ul>
						<li><a class="item" href="https://discord.com/oauth2/authorize?client_id=1235649259018260480" target="_blank">Discord BOT <span style="color:orange">[ W.I.P. ]</span></a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<script src="/js/header.js"></script>
</header>

<div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    font-size: 30px;
    font-weight: bold;
">THE PROJECT IS SUSPENDED INDEFINITELY
<div style="
    font-size: 20px;
    font-weight: 200;
">THE GAME DIED FASTER THAN WE WOULD HAVE EXPECTED. SO THERE'S NO POINT IN CONTINUING</div></div>
