footer {
    width: 100dvw;
    position: relative;
    bottom: 0;
    background-color: #191B1C;
    margin-top: 20px;
    padding: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}