<!DOCTYPE html>
<html>

<head>
  <title>Gray Zone Warfare Bot - Discord Bot</title>
  <link rel="canonical" href="https://gzwbot.eu/discord-bot" />
  <link rel="stylesheet" href="/css/main.css?v=<%= cssVersion %>">
  <meta name="description" content="Gray Zone Warfare (GZW) Discord Bot that helps you find out the item prices, detailed item info, quest info and much more.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#28B828">
  <link rel="icon" href="/images/web/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/web/favicon.png" type="image/png">
  <meta name="keywords" content="gzw, gray, zone, warfare, discord, bot, discordbot, discord bot">
  <meta name="subject" content="Gray Zone Warfare Discord Bot">
  <meta name='coverage' content='Worldwide'>
  <meta name='distribution' content='Global'>
  <meta name='rating' content='General'>
  <meta name='target' content='all'>
  <meta name="audience" content="all" />
  <meta name="topic" content="Gray Zone Warfare Discord Bot">
  <meta name="summary" content="Gray Zone Warfare (GZW) Discord Bot that helps you find out the item prices, detailed item info, quest info and much more.">
  <meta property="og:image" content="https://gzwbot.eu/images/web/gzwlogo.webp">
  <meta property="og:title" content="Gray Zone Warfare Discord Bot">
  <meta property="og:description" content="Gray Zone Warfare (GZW) Discord Bot that helps you find out the item prices, detailed item info, quest info and much more.">
  <meta name="twitter:image" content="https://gzwbot.eu/images/web/gzwlogo.webp">
  <meta name="twitter:title" content="Gray Zone Warfare Discord Bot">
  <meta name="twitter:description" content="Gray Zone Warfare (GZW) Discord Bot that helps you find out the item prices, detailed item info, quest info and much more.">
</head>

<body>
  <%- include('./basic/header') -%>

  <div class="container">
    <h1 class="mainheader">Gray Zone Warfare Discord Bot</h1>

    <div class="discordBotCommands">
      <h2>Commands</h2>
      <div class="command">
        <div class="cmdname">/item</div>
        <div class="cmddescription">Get detailed info on an item.</div>
      </div>


    </div>

    <a class="discordBotInviteLink" href="https://discord.com/oauth2/authorize?client_id=1235649259018260480" target="_blank">INVITE THE BOT</a>
  </div>

  <%- include('./basic/footer') -%>
</body>

</html>