<!DOCTYPE html>
<html>

<head>
  <title>Gray Zone Warfare Bot</title>
  <link rel="stylesheet" href="/css/main.css?v=<%= cssVersion %>">
  <meta name="description"
    content="Dive into the ultimate Gray Zone Warfare hub! Get detailed info on ammo, quests, and all game items. Plus, uncover insider tips and tricks to elevate your gameplay.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#28B828">
  <link rel="icon" href="/images/web/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/web/favicon.png" type="image/png">
  <meta name="keywords"
    content="gzw, gray, zone, warfare, wiki, info, item, trader, quests, quest, data, ammo, items, medical, tutorial">
  <meta name="subject" content="Gray Zone Warfare Bot">
  <meta name='coverage' content='Worldwide'>
  <meta name='distribution' content='Global'>
  <meta name='rating' content='General'>
  <meta name='target' content='all'>
  <meta name="audience" content="all" />
  <meta name="topic" content="Gray Zone Warfare Tools">
  <meta name="summary"
    content="Dive into the ultimate Gray Zone Warfare hub! Get detailed info on ammo, quests, and all game items. Plus, uncover insider tips and tricks to elevate your gameplay.">
  <meta property="og:image" content="https://gzwbot.eu/images/web/gzwlogo.webp">
  <meta property="og:title" content="Gray Zone Warfare Bot">
  <meta property="og:description"
    content="Dive into the ultimate Gray Zone Warfare hub! Get detailed info on ammo, quests, and all game items. Plus, uncover insider tips and tricks to elevate your gameplay.">
  <meta name="twitter:image" content="https://gzwbot.eu/images/web/gzwlogo.webp">
  <meta name="twitter:title" content="Gray Zone Warfare Bot">
  <meta name="twitter:description"
    content="Dive into the ultimate Gray Zone Warfare hub! Get detailed info on ammo, quests, and all game items. Plus, uncover insider tips and tricks to elevate your gameplay.">
</head>

<body>
  <%- include('./basic/header') -%>

    <style>
      /* Main Header */
      .mainheader {
        color: red;
        font-size: 40px;
        font-weight: bold;
        border: 3px solid red;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
        text-transform: uppercase;
        background-color: rgba(255, 0, 0, 0.1);
        margin-bottom: 50px;
      }

      .subheader {
        font-size: 28px;
        font-weight: 300;
        color: #ff3232;
        margin-bottom: 20px;
      }

      .container {
        min-height: calc(100dvh - 160px);
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
      }

      .important-text {
        font-size: 25px;
        font-weight: 300;
        color: white;
        margin-top: 20px;
        text-align: center;
      }

      /* Buttons */
      .button-container {
        margin-top: 40px;
      }

      .button {
        background-color: #333;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
        border-radius: 8px;
        font-size: 18px;
        margin: 10px;
        transition: background-color 0.3s, transform 0.3s;
      }

      .button:hover {
        background-color: #555;
        transform: scale(1.1);
      }

      /* Mobile Responsiveness */
      @media (max-width: 768px) {
        .mainheader {
          font-size: 30px;
          padding: 15px;
        }

        .subheader {
          font-size: 18px;
        }

        .button {
          font-size: 16px;
          padding: 12px 20px;
        }
      }
    </style>

    <div class="container">
      <div class="mainheader">
        THE PROJECT IS SUSPENDED INDEFINITELY
      </div>
      <div class="subheader">
        THE GAME DIED FASTER THAN WE WOULD HAVE EXPECTED. SO THERE'S NO POINT IN CONTINUING
      </div>
      <div class="important-text">
        This website and Discord bot will be terminated approximately by 10.05.2025.
        <span style="
    display: block;
    font-size: 20px;
    margin-top: 10px;
">If anyone wants to continue this project, here is the source code 🙂</span>
      </div>

      <div class="button-container">
        <a href="https://github.com/xxxxxxxxxxxxxx" class="button">
          View Web/Backend Source Code
        </a>
        <a href="https://github.com/xxxxxxxxxxxx" class="button">
          View Discord Bot Source Code
        </a>
      </div>
    </div>


    <%- include('./basic/footer') -%>
</body>

</html>