<!DOCTYPE html>
<html>

<head>
  <title>Gray Zone Warfare Bot</title>
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="/css/main.css?v=<%= cssVersion %>">
  <meta name="description" content="Dive into the ultimate Gray Zone Warfare hub! Get detailed info on ammo, quests, and all game items. Plus, uncover insider tips and tricks to elevate your gameplay.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#28B828">
  <link rel="icon" href="/images/web/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/web/favicon.png" type="image/png">
  <meta name="keywords" content="gzw, gray, zone, warfare, wiki, info, item, trader, quests, quest, data, ammo, items, medical, tutorial">
  <meta name="subject" content="Gray Zone Warfare Bot">
  <meta name='coverage' content='Worldwide'>
  <meta name='distribution' content='Global'>
  <meta name='rating' content='General'>
  <meta name='target' content='all'>
  <meta name="audience" content="all" />
  <meta name="topic" content="Gray Zone Warfare Tools">
  <meta name="summary" content="Dive into the ultimate Gray Zone Warfare hub! Get detailed info on ammo, quests, and all game items. Plus, uncover insider tips and tricks to elevate your gameplay.">
  <meta property="og:image" content="https://gzwbot.eu/images/web/gzwlogo.webp">
  <meta property="og:title" content="Gray Zone Warfare Bot">
  <meta property="og:description" content="Dive into the ultimate Gray Zone Warfare hub! Get detailed info on ammo, quests, and all game items. Plus, uncover insider tips and tricks to elevate your gameplay.">
  <meta name="twitter:image" content="https://gzwbot.eu/images/web/gzwlogo.webp">
  <meta name="twitter:title" content="Gray Zone Warfare Bot">
  <meta name="twitter:description" content="Dive into the ultimate Gray Zone Warfare hub! Get detailed info on ammo, quests, and all game items. Plus, uncover insider tips and tricks to elevate your gameplay.">
</head>

<body>
  <%- include('./basic/header') -%>

  <div class="container">
    <h1 class="mainheader" style="color:red">Sorry for the inconvenience! At the moment, mobile devices can't display pages. We're working hard to make that happen soon!</h1>
  </div>

  <%- include('./basic/footer') -%>
</body>

</html>